 body {
    background-color: bisque;
    margin-left: 120px;
    margin-right:120px;

 }
 
 h1
        {
            color:#adff2f;
            font-size: 3em;
            text-align: center;
            padding: 50px;
            background-color: blueviolet;
            border: 35px;
            border: 15px solid black;
            margin: 30px;
        
        }
h2      {
        font-size: 2em;
        color:rgba(0, 0, 255, .5);
        border: 5px solid green
}
        p {
            color: rgba(0, 0, 255, .5);
            font-size: 2em;
        
        }
.button {   
            color: red;
            font-size: 2em;
            padding: 5px;
            background-color: rgb(183, 0, 255);
            
        }
.button:hover {
    color: white;

}
img {height: 175px; width: 175px;
    margin-right: 105px;
    

}

div {
    color:deeppink;
    margin-bottom: 25px;
    padding: 5px;
    background-color:rgb(0, 174, 255);
    font-size: 1.5rem;
}
#Vote {
    background-color: deeppink;
    color: rgb(0, 174, 255);
    padding: 1px;
}
.flex-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}