 body {
    background-color: bisque;
    margin: 120px

 }
 
 h1
        {
            color:#adff2f;
            font-size: 3rem;
            text-align: center;
            padding: 50px;
            background-color: blueviolet;
            border: 35px;
            border: 15px solid black;
            margin: 30px;
        
        }
h2      {
        font-size: 2em;
        color:rgba(0, 0, 255, .5);
        border: 5px solid green
}
        p {
            color: rgba(0, 0, 255, .5);
            font-size: 2em;
        
        }
.button {   
            color: red;
            font-size: 2em;
            margin-bottom: 25px;
            margin-right: 120px;
            padding: 30px;
            background-color: orange;
            
        }
.button:hover {
    color: white;

}
img {height: 175px; width: 175px;
    margin-right: 105px;
    

}